GEMINI_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=https://ckfddtjfstwtczhatyme.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrZmRkdGpmc3R3dGN6aGF0eW1lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk0MTE4MzcsImV4cCI6MjA4NDk4NzgzN30.EvxtyAKWSNZnUe59mDYLKPr4QmaDkUxUH0P_9NwNNDk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrZmRkdGpmc3R3dGN6aGF0eW1lIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTQxMTgzNywiZXhwIjoyMDg0OTg3ODM3fQ.rEkLryenaUjr5a3OyUfwiz3-Lwo8fGspUVt0warp_gc
# For production deployments, set this to your deployed URL
NEXT_PUBLIC_SITE_URL=
